body{
  text-align: center;
  background-color: 	salmon;
  font-family: 'Kanit', sans-serif;
  color: cornsilk;
  font-size: 1.1rem;
}

h1{
  padding: 50px 0 20px 0;
  font-size: 3rem;
  color: #FAEBD7;
}


p{
  font-size: 1.2rem;
  padding:20px 20px;
}


.text{
  padding-left: 50px;
  padding-right: 50px;
}

hr{
  border: none;
  border-top: 8px dotted black;
  color: black;
  width:70px;
  margin-top: 50px;
}

h2{
  padding-top: 30px;
}

/*nav info*/

.navbar-nav{
  text-decoration: none;
  color: black;
}


.subtitles{
  padding: 40px 0 40px 0;
}

.tag{
  color:#FAEBD7;
}

.tag:hover{
  color: black;
  text-decoration: none;
}


.special{
  max-width: 10%;
  padding-right: 6px;
}

.mes1{
  padding-right: 0px;
}

.uno{
  max-width: 10%;
  float: right;
  padding: 0;
}

.fish{
  max-width: 2%;
}
